---
import Auth from "../../layouts/auth.astro";
import CreateTable from "../../components/table";

const {hash}= Astro.params;

if (!Astro.cookies.has('token')) {
    return Astro.redirect('/auth/login');
}

let type = "doctors"
let id = hash
let data = null

const res = await fetch(`http://localhost:2468/${type}/${id}`, {
    method: 'GET',
    headers: {
        'Authorization': Astro.cookies.get('token').value
    }
}).then(res => res.json()).catch((err)=>console.log(err))

const patient_res = await fetch(`http://localhost:2468/all`, {
    method: 'GET',
    headers: {
        'Authorization': Astro.cookies.get('token').value
    }
}).then(res => res.json()).catch((err)=>console.log(err))

//get all the patients with doc_id = id
const patients = patient_res.filter((patient)=>patient.doc_id === parseInt(id))

data = res
---

<Auth>
    <div>
        <div class="pt-5 px-5">
            <h2 class="text-3xl font-bold">
                Welcome back,
                <span class="underline">Dr {data.full_name}</span>
            </h2>
            <p class="py-3">
                To your premium {
                    type === 'emp' ? 'employee' : 'doctor'
                } dashboard.
            </p>
        </div>
        <div class="mx-5 w-1/2">
            <CreateTable initial={patients} small={true} query="display" default_term={''} title={`Patients by ${data.full_name}`} client:load/>
        </div>
    </div>
</Auth>